*{
    user-select: none;
}

body {
    margin: 0;
    background-color: #000;
    /* Set your dark background color */
    color: #fff;
    /* Set your text color */
    font-family: 'Arial', sans-serif;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    /* Set your dark background color */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader {
    width: 2px;
    height: 0;
    background-color: #fff;
    /* Set your white loader color */
    animation: expand 2s ease-out forwards;
}

@keyframes expand {
    100% {
        height: 100vh;
    }
}

.content {
    display: none;
    padding: 20px;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    padding-right: 30px;
}

.navbar a {
    color: #737373;
    /* Set your text color */
    text-decoration: none;
    padding: 14px 16px;
    transition: color 0.3s;
    /* Add smooth transition to text color */
}

.navbar a:hover {
    color: #fff;
    /* Set your hover text color */
}

.navbar .icons i {
    color: #737373;
    /* Set your icon color */
    font-size: 20px;
    cursor: pointer;
    padding-right: 10px;
    transition: color 0.3s;
    /* Add smooth transition to icon color */
}

.navbar .icons i:hover {
    color: #fff;
    /* Set your hover icon color */
}

.about-me {
    text-align: center;
    flex: 1; /* This makes the section take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.active {
    color: #fff
}

nav .fa i {
    display: none;
    color: #000;
    visibility: none;
}

.about-me p1 {
    font-size: 40px;
}

.about-me p1 span {
    color: #ddd;
}

.about-me p {
    color: #737373;
    font-size: 20px;
    width: 45%;
}

.name {
    position: relative;
}
  
.name::after {
    content: "";
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 45%;
    background-color: green;
    z-index:-1;
}

.green-button {
    background-color: #03875b;
    color: white;
    padding: 10px 22px;
    border-radius: 8px;
    font-size: 18px;
    font-variant-caps: all-petite-caps;
    cursor: pointer;
}

.home-main {
    margin: 10%;
}

.hidden{
    display: none;
}

.about-main {
    margin: 10%;
    margin-top: 5%;
    display: flex;
    height: 70vh;
}

.left-half {
    margin-left: 10%;
    width: 40%;
    background-color: #000; /* Set your desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-half {
    width: 50%;
    padding: 20px;
}

.left-half img {
    height: max-content;
    margin-top: 15px;
    width: 90%;
    height: 100%;
    border-radius: 8px; /* Optional: Add rounded corners to the image */
}

.vertical-line {
    content: "";
    position: absolute;
    top: 73.0625%;
    width: 10%;
    height: 0.1%;
    background-color: #03875b;
    z-index:-1;
}

.vertical-long-line {
    position: absolute;
    content: "";
    width: 75%;
    height: 0.25%;
    background-color: #4d79ff;
    z-index:-1;
}

.projects {
    margin-top: 5%;
}

.project-title {
    font-size: 25px;
}

.project-description {
    text-align: justify;
    width: 90%;
}

.cross {
    display: none !important;
}

.cross2 {
    display: none !important;
}

.skill-bubble {
    display: inline-block;
    margin-top: 1%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(115, 115, 115, 0.5); /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.contact-me {
    text-align: center;
    flex: 1; /* This makes the section take up the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.contact-me p1 {
    font-size: 40px;
}

.contact-me p1 span {
    color: #ddd;
}

.contact-me p {
    color: #737373;
    font-size: 20px;
    width: 45%;
}

.contact-info {
    display: flex;
    justify-content: space-between;
}

.contact-info div i {
    margin-right: 10px;
    font-size: 24px;
    color: #008000; /* Set your initial icon color */
}

.contact-info div {
    display: flex;
    align-items: center;
    color: #666; /* Set your initial text color */
}


.contact-info div:hover i {
    color: #fff; /* Set your icon color on hover */
}

.info {
    margin-top: 5%;
    width: 80%;
    text-align: left;
    padding-left: 10%;
}

.icon {
    padding: 5%;
}
.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.name-group {
    display: flex !important;
    width: 45%;
}

.form-group::after {
    content: "";
    display: table;
    clear: both;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #0d0d0d;
    color: #fff;
    resize: none;
}

.form-group input[type="submit"] {
    background-color: #008000;
    color: #fff;
    cursor: pointer;
}
  
.final-submit {
    align-content: center;
}


.column{
    width: 100%;
    display: inline-flex;
}

.row{
    width: 100%;
}


.footer{
    visibility: none;
    color: #000;
    text-decoration: none;
}

.footer i {
    text-decoration: none;
    color: #000;
    margin: 0%;
    cursor: auto;
}

/* Example Media Query for Smaller Screens */
@media screen and (max-width: 768px) {

    .navbar-items {
        display: block;
    }

    .cross {
        display: block !important; /* Add !important to override previous rules */
    }

    .cross2 {
        display: block !important;
    }

    .nav_links {
        position: fixed; 
        background: #000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    .nav_links a {
        display: block;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        cursor: pointer;
        font-size: 22px;
    }

    .about-me p {
        font-size: 18px;
        margin-left: 15%;
        margin-right: 15%;
        width: auto;
    }

    .contact-me {
        display: block !important;
    }

    .vertical-line {
        background-color: #000;
    }

    .project-showcase {
        font-size: 14px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-showcase-main {
        font-size: 22px;
    }

    .project-description {
        font-size: 14px;
        text-align: left;
    }

    .skill-bubble {
        display: block;
        width: max-content;
        font-size: 14px;
        margin-top: 0%;
    }

    .about-main {
        flex-direction: column;
    }

    .left-half {
        width: 100%;
        margin-left: 0%;
        background-color: #000;
    }

    .left-half img {
        width: 90%;
        height: 80%;
    }

    .fab {
        display: block;
    }

    .right-half {
        width: 100%;
        padding: 10px;
    }

    .right-main {
        font-size: 16px !important;
    }

    .right-half h2 {
        font-size: 18px;
    }

    .about-body {
        font-size: 14px;
    }

    table {
        width: 100%;
        font-size: 14px;
    }

    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    td:before {
        content: attr(data-label);
        font-weight: bold;
        color: #03875b; /* Set your text color */
        font-size: 20px;
        margin-right: 5px;
    }

    .about-main-me {
        font-size: 14px !important;
        width: 80% !important;
        margin-left: 15%;
        margin-right: 15%;
    }

    .navbar .icons i {
        color: #fff; /* Ensure icon color is set for smaller screens */
    }

    .about-me p1{
        font-size: 20px;
        margin: 10%;
    }

    .vertical-line {
        background-color: #000;
    }

    .project-showcase {
        font-size: 14px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-showcase-main {
        font-size: 22px;
    }

    .project-description {
        font-size: 14px;
        text-align: left;
    }

    .skill-bubble {
        display: block;
        width: max-content;
        font-size: 14px;
        margin-top: 0%;
    }

    .about-main {
        flex-direction: column;
    }

    .left-half {
        width: 100%;
    }

    .right-half {
        width: 100%;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-info div {
        margin-bottom: 10px;
    }

    .address {
        width: 90%;
        margin-left: 5%;
    }

    .contact-me {
        display: flex !important;
    }

    .info {
        padding-left: 0%;
    }

    .column{
        width: 100%;
        display: block;
    }
    
    .row{
        width: 100%;
    }
        
    .footer{
        padding-top: 15px;
        text-align: center;
        padding-bottom: 10px;
        background-color: #fff;
        color: #000;
    }

    .footer .social_links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(55, 55, 55, 0.3);
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #000;
        transition: all 0.5s ease;
    }

    .footer .social_links a:hover{
        color: grey;
        background-color: black;
    }

}
